:root {
    --bg-blue: #002663; 
    --text-white: #ffffff;
    --font-main: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-blue);
    color: var(--text-white);
    font-family: var(--font-main);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    background-color: #002663; 
    height: 60px;
    display: flex;
    align-items: center;
}

.header-wide-container {
    display: flex;
    flex-direction: row;     
    justify-content: space-between; 
    align-items: center;     
    padding: 20px 40px;      
    width: 100%;
    box-sizing: border-box;  
}

.logo, .nav-list a {
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-size: 28px;
    white-space: nowrap; 
    flex-shrink: 0;
}

.logo:hover, .nav-list a:hover {
    opacity: 0.7;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: sans-serif;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.hero {
    width: 100%;
    padding-top: 140px;

}

.hero-container {
    max-width: 1400px; 
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-bottom: 50px; 
    margin-bottom: 0; 
}

.main-title {
    font-size: 180px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
    line-height: 0.9;
    width: 100%;
    border-bottom: 1px solid white; 
    padding-bottom: 40px; 
    margin-bottom: 20px; 
}

.hero-subtitle {
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 100%;
    margin: 0;
    padding-top: 40px;
}

.gallery .container {
    border: none; 
    padding: 0;
}

.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1400px;
    margin: 0 auto;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.card {
    border-bottom: 1px solid white;
    padding: 200px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card:nth-child(odd) {
    border-right: 1px solid white;
}

.card:nth-last-child(-n+2) {
    border-bottom: none;
}

.card-img img {
    width: 380px;
    height: 380px;
    border-radius: 50%;
    display: block;
    margin-bottom: 40px;
    box-shadow: 0 4px 15px rgb(54, 54, 54);
}

.item-id {
    display: block;
    font-size: 12px;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.item-desc {
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1.8;
    opacity: 0.9;
}

.social {
    text-align: center;
    padding: 100px 0;
}

.made-by {
    font-weight: 900;
    font-size: 45px;
    margin-bottom: 100px;
}

.social-links {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 120px;
    font-weight: 900;
}

.social-links a {
    color: white;
    text-decoration: none;
    line-height: 0.85;
}

.social-links a:hover{
    opacity: 0.7;
}

.footer {
    width: 100%;
    padding: 40px 0;
}

.footer-content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    font-weight: 900;
    font-size: 40px;
}